// COLOR

$bgco: #f1f1f1;
$prim: #222222;
$sand: #c6afa3;
$lgry: #cccccc;

// SIZES

$screen-small: 600px;
$screen-medium: 960px;
$screen-large: 1200px;
$screen-huge: 1600px;
$screen-max: 1920px;

// FONTS

$sans: "ATC Arquette Regular", sans-serif;
$bold: "ATC Arquette Bold", sans-serif;
$mono: "ATC Harris Regular", monospace;
$head: "ATC Harris Bold", monospace;
