// COLOR

$bgco: #f2f2f2;
$prim: #222222;

// SIZES

$screen-small: 600px;
$screen-medium: 960px;
$screen-large: 1200px;
$screen-huge: 1600px;

// FONTS

$sans: "ATC Arquette Regular", sans-serif;
$bold: "ATC Arquette Bold", sans-serif;
$head: "ATC Harris-Bold", sans-serif;
