.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button {
  display: inline;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 2.2rem;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1;
}

button:hover,
button:focus {
  background: transparent;
}

button:focus {
  outline: none;
  outline-offset: 0;
}

// BUTTON STYLES

.nav__button {
  background: $prim;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid $prim;
  color: $bgco;
  &:hover {
    background: #4c4c4c;
  }
}
.nav__button--inv {
  background: $bgco;
  color: $prim;
  &:hover {
    background: $prim;
    color: $bgco;
  }
}


.button__small {
  background: none;
  font-family: $head;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 0.3rem 1.6rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid $prim;
  color: $prim;
  transition: all 0.3s ease;
  &:hover {
    background: $prim;
    color: $bgco;
  }
}



