footer ul {
  list-style: none;
  padding: 0;
}

.site__footer {
  @include md {
    display: flex;
  }
  margin-top: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $sand;
  h3 {
    text-transform: uppercase;
  }
}

.footer__listblock {
  font-family: $mono;
  font-size: 0.9rem;
  line-height: 1.8;
  flex: 1 0 25%;
  margin-bottom: 2rem;
}

.lang__switch li {
  display: inline-block;
  &:first-child:after {
    content: " ·";
  }
}
li.lang--active a {
  font-family: $head;
}
