:root {
  --site-spacing: 1rem;
}

@include md {
  :root {
    --site-spacing: 2rem;
  }
}

.outer {
  margin-left: var(--site-spacing);
  margin-right: var(--site-spacing);
}
.outer--pad {
  padding-left: var(--site-spacing);
  padding-right: var(--site-spacing);
}

.inner {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--site-spacing);
  padding-right: var(--site-spacing);
}

// SITE CONTENT + SIDEBAR

.site__content {
  margin-top: 10rem;
  max-width: $screen-max;
  @include md {    
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
  @include hg {
    grid-template-columns: repeat(5, 1fr);
  }
}

.main {
  grid-column: 1 / span 3;
  @include hg {
    grid-column: 1 / span 3;
  }
}
.sidebar {
  grid-column: 4;
  @include hg {
    grid-column: 5;
  }
}

// LAYOUT

.flex {
  display: flex;
}

.flex--res {
  @include md {
    display: flex;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}
