.list__bord {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  border-top: 1px solid $lgry;
  li {
    font-family: $mono;
    font-size: 0.9rem;
    padding: 0.25rem 0;
    line-height: 2;
    border-bottom: 1px solid $lgry;
    &:hover {
      border-bottom: 1px solid $prim;
    }
  }
}

summary {
  font-family: $bold;
  border-top: 1px solid $lgry;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
details p {
  margin: 1rem 0 2rem;
}