.list__bord {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  border-top: 1px solid $lgry;
  li {
    font-family: $mono;
    font-size: 0.9rem;
    padding: 0.25rem 0;
    border-bottom: 1px solid $lgry;
    line-height: 2;
  }
}