.site__header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.site__title {
  font-family: $mono;
  font-size: 0.9rem;
  a {
    font-family: $head;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-right: 1.6rem;
  }
}

nav a {
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.3s;
  &:hover,
  .current {
    border-bottom: 1px solid $prim;
  }
}

nav {
  font-size: 1rem;
  font-family: $head;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  @include sm {
    font-size: 0.8rem;
  }
}

// NAV ICON

#navicon {
  @include md-max {
    position: absolute;
    right: var(--site-spacing);
    top: 1.4rem;
    z-index: 2;
  }
  @include md {
      display: none;
    }
}

// MAIN NAV STYLING

@include md-max {

  .mainnav {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 6rem;
    background: $bgco;
    z-index: 1;
  }

  .mainnav--closed {
    height: auto;
    background: transparent;
  }

  .mainnav--closed .mainnav__list {
    display: none;
  }
  .mainnav__list {
    text-align: center;
  }
  .mainnav__item {
    padding: .5rem 0;
  } 
}

.mainnav {
  margin-left: auto;
}

@include md {
  .mainnav__list {
    display: flex;
  }
 .mainnav__item {  
    margin-left: 1rem;  
  }
}

.nav__button {
  background: $prim;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid $prim;
  color: $bgco;
  &:hover {
    background:  $prim;
  }
  @include md-max {
    font-size: 1.2rem;
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
  }
}
.nav__button--inv {
  background: $bgco;
  color: $prim;
  &:hover {
    background: $prim;
    color: $bgco;
  }
}

.about__link {
  @include md-max {
    margin-top: 2rem;
  }
}

// SUBNAV MOBILE

.subnav__mobile {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  li {
    padding: 1rem 0;
    font-size: 0.9rem;
  }
  li:not(:last-child) {
    border-bottom: 1px solid $lgry;
  }
}






