.site__header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.site__title {
  font-family: $mono;
  font-size: 0.9rem;
  a {
    font-family: $head;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin-right: 1.6rem;
  }
}

nav a {
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.3s;
  &:hover,
  .current {
    border-bottom: 1px solid $prim;
  }
}

// MAIN NAV

nav {
  font-size: 1rem;
  font-family: $head;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  @include sm {
    font-size: 0.8rem;
  }
}

.mainnav {
  margin-left: auto;
}

.mainnav__list {
  display: flex;
  margin-left: auto;
}

.mainnav__item {
  margin-left: 0.5rem;
}

.nav__button {
  background: $prim;
  padding: 0.4rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid $prim;
  color: $bgco;
  &:hover {
    background: #4c4c4c;
  }
}
.nav__button--inv {
  background: $bgco;
  color: $prim;
  &:hover {
    background: $prim;
    color: $bgco;
  }
}

// MOBILE

@include mdm {
  #navicon {
    position: absolute;
    right: var(--site-spacing);
    top: 1.4rem;
    z-index: 2;
  }

  .mainnav {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 3rem;
    background: $bgco;
    z-index: 1;
  }

  .mainnav__item {
  }

  .mainnav--closed {
    height: auto;
    position: inline;
    background: transparent;
  }

  .mainnav--closed .mainnav__list {
    display: none;
  }
}

// DESKTOP

@include md {
  #navicon {
    display: none;
  }
}
