html {
  -webkit-font-smoothing: antialiased;
  text-align: left;
}

// TEXT UTILS

.text--bold {
  font-style: bold;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--smallprint {
  font-size: 0.8rem;
}

.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}

// HEADINGS

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: $head;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.smallprint {
  font-family: $sans;
  font-size: 0.8rem;
}

.smallprint--upper {
  font-family: $sans;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
